.prvr{
    font-size:medium;
    color:purple;
}
.tstr{
    text-align:center;
    text-decoration-line:underline;
}
.nerdimg{
    position:relative;
    top:50px;
    left:50px;
}
body{
    background-color:black;
}