#grad {
    background-image: linear-gradient(to bottom right, red, yellow);
}
.chatmain{
    width:1000px;
    height:700px;
}
.ebutton{
    width:150px;
    height:50px;
}
.rainbow{
    position:relative;
    display:block;
    top:10px;
    width:100%;
    height:3px;
}
.room{
    position:relative;
    top:15px;
}