.chatmain{
    /* display:flex; */
    align-items: center;
    width:1000px;
    height:1000px;
    background-color:white;
    margin:0 auto;
    /* align-items:center; */
}
.room{
    text-align:center;
}
body{
    background-color:gray;
}