body{
    background-color: black;
}
.prvr{
    font-size:medium;
    color:lightseagreen;
}
.logtable{
    color:white;
}
.tlink{
    color:red;
}
.poncuter{
    color:white;
}
.specf{
    color:white;
}