.prvr{
    font-size:medium;
    color:lightseagreen;
}
.tstr{
    align-items: center;
    margin:0 auto;
    width:800px;
    outline-style: groove;
    outline-color:dodgerblue;
    text-align:center;
    text-decoration-line:underline;
}
.nerdimg{
    position:relative;
    top:50px;
    left:50px;
}
.logtable{
    color:white;
}
.celery{
    position:relative;
    size:80px;
}
body{
    background-color:black;
}