.pirda{
    display:block;
    position:relative;
    text-align:center;
    margin:0 auto;
    width:400px;
    top:-40px;
    outline-style: groove;
    outline-color:dodgerblue;
}
.log{
    position:relative;
    left:50px;
}
.priviec{
    width:60px;
    display:block;
    position:relative;
    bottom: 36px;
    color:deepskyblue;
}
.con{
    position:relative;
    display:block;
    color:red;
    text-align:center;
    width:400px;
    margin:0 auto;
}
.nerdimg{
    position:relative;
    top:50px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #fc2727 0%, #f8fc2c 25%, #33fd44 50%, #376cfe 75%, #fd1892 100%);
    border-image-slice:1;
}
.celery{
    position:relative;
    size:80px;
}
.websites{
    text-decoration-line: none;
    font-size:xxx-large;
}
body{
    user-select:none;
    background-color:black;
}